name: Release

on:
  push:
    tags:
      - "[0-9]+.[0-9]+.[0-9]+"

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install
        run: npm install

      - name: Build
        run: npm run build

      - name: Create GitHub Release + upload assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/modern-flow-scroll.min.js
            dist/modern-flow-scroll.min.js.map
